/* 1.1.general-setting-pages *************************/
/****************************************************/
:root {
	--pr-color: #fff;
	--second-color: #0a0a0a;
}


@font-face {
  font-family: lbsFirstFont;
  src: url(/resources/lbs-font/monumentextended-freeforpersonaluse/MonumentExtended-Regular.otf);
}


body {
	--background: var(--second-color);

}


/*Small mobile devices */
@media (min-width: 576px) {
	.container {
	  max-width: 540px;
	}
  }
  
  /*Medium tab devices */
  @media (min-width: 768px) {
	.container {
	  max-width: 720px;
	}
  }
  
   /*Large laptop devices */
  @media (min-width: 992px) {
	.container {
	  max-width: 960px;
	}
  }
  

    /*Extra large screen Large devices */

  @media (min-width: 1200px) {
	.container {
	  max-width: 1140px;
	}
  }


/*vedio css start */

.section-bg {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
  }
  
  .section-bg h1 {
	text-align: center;
	font-size: 6rem;
	font-family: "Cookie";
	padding: 20px;
	margin: 15px;
	z-index: 1;
	opacity: 0.7;
  }


  .section-body {
	padding: 20px;
	margin: 15px;
	z-index: 1;
	

  }



  .hide-v{
	display: none;
  }

  .hide-li{
	display: none;
  }



  
  .video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  }
  
  .color-overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgb(225, 225, 8); 
	width: 100%;
	height: 100vh;
	opacity: 0.5;
  }

/*vedio css end */

.h3-fiv {

}



div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding: 5px;
	background-color: #2ee92e;
	border: 2px solid #4CAF50;
	opacity: 0.5;
  }



.bg-lbs-black {
	background-color: #0a0a0a;
}



.slidercss {
	--background-image: linear-gradient(#00FFFF, #E4A0F7);
	--background: linear-gradient(180deg, rgba(228,160,247,1) 30%, rgba(0,255,255,1) 80%);

  background: linear-gradient(#E4A0F7 20%, #00FFFF);
  

}


.slide-css{
	
    --padding-left: 10%;
    --padding-bottom: 10%;
    --padding-right: 10%;
   --padding-top: 10%;

}


.btn-lbs-after {
	height: 60px;
	width: 195px;
	border-radius: 5px;
	background: linear-gradient(90deg, #00FFFF 2.44%, #E4A0F7 59.86%);
}


.btn-lbs-before {
	height: 60px;
	width: 195px;
	border-radius: 5px;
	background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
		linear-gradient(90deg, #00FFFF 2.44%, #E4A0F7 59.86%) border-box;
	border: 5px solid transparent;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
	color: rgb(255, 255, 255);
}




.text-effect {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: xx-large;
}

.text-effect-active{
  font-family: Montserrat, sans-serif;
  font-weight: 600;
	--background: -webkit-radial-gradient(#E4A0F7, #00FFFF);
  background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(228,160,247,1) 62%);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: cell;
	font-size: xx-large;
}

.text-effect:hover {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
	--background: -webkit-radial-gradient(#E4A0F7, #00FFFF);
  background: linear-gradient(90deg, rgba(0,255,255,1) 0%, rgba(228,160,247,1) 62%);

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: cell;
	font-size: xx-large;
}

.footer-effect {
	padding-left: 80px;
    padding-right: 80px;
    font-size: x-large;
}


.box-x {
	width: 200px;
	--aspect-ratio: 1;
	clip-path: polygon(100.00% 50.00%,78.19% 60.26%,88.30% 82.14%,65.00% 75.98%,58.68% 99.24%,44.79% 79.54%,25.00% 93.30%,27.02% 69.28%,3.02% 67.10%,20.00% 50.00%,3.02% 32.90%,27.02% 30.72%,25.00% 6.70%,44.79% 20.46%,58.68% 0.76%,65.00% 24.02%,88.30% 17.86%,78.19% 39.74%);
  }


.lbs-text-outline{
  font-weight: 600;
 
  background: -webkit-linear-gradient(180deg, rgba(228,160,247,1) 30%, rgba(0,255,255,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-stroke: 5px transparent;
  color: black;
}


.lbs-text-fill{
  background: -webkit-linear-gradient(70deg, rgba(228,160,247,1) 30%, rgba(0,255,255,1) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}





/* 
.header-bg-career {

	background-image: url(/resources/lbs-banner/Rectangle80.png);
	background-repeat: no-repeat;
	background-size: cover;
} */



.header-bg-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)),
    url(/resources/lbs-banner/Rectangle79.png);
  background-position: center;
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
}





.header-bg-web3 {
	
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)),
  url(/resources/lbs-banner/Rectangle78.png);
background-position: center;
color: #ffffff;
background-repeat: no-repeat;
background-size: cover;
}

.header-bg-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)),
    url(/resources/lbs-banner/Rectangle76.png);
  background-position: center;
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
}




.header-bg-port {
	
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)),
    url(/resources/lbs-banner/Rectangle77.png);
  background-position: center;
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: cover;
}




.contetnt-h {
  height: 600px;
  width: 320px;
  padding-left: 30px;
  --background-color: rgba(10, 10, 10, 0);
  transition: 1s;
}

.contetnt-a {
  display: none;
}

.contetnt-b {
  display: block;
}

.contetnt-h:hover {
  height: 600px;
  width: 700px;

}

.contetnt-h:hover .contetnt-a {
  display: block;
}

.contetnt-h:hover .contetnt-b {
  display: none;
}


.bg-offce {

}

hr {
	background: linear-gradient(to right, blue, red);
	height: 6px;
}


.m-over:hover{
	--background-color: aqua;
	opacity: 0.7;
	--transform: scale(120%);
	transform: scale(1.1);
	transition: all .4s ease-in-out;
}


         
.btn-grad {
	background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	
  }




  .bg-vedio{


  }

  video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.5;
	
  }


  .btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
  }


  .menu-css .first-x{
	display : none;
  }


  .hed-c{
	z-index: 1;
	position:fixed; 
	width:100%; 
	height:100px; 
	background: transparent;
  }
  
  /* .hed-c a{
	color:white;
	background:rgba(0,0,0,0.1); 
	display:inline-block; 
	padding:0px 30px; 
	height:60px;
	line-height:60px; 
	text-align:center;
	font-family: 'Roboto Slab', serif; 
	text-decoration:none;
	text-transform:uppercase; 
	letter-spacing:2px; 
	font-weight:700;
  } */



  .second-show{ 
	display: none;
  }
  .showcontent-box:hover .second-show{
	display : block;
	
  }
  .showcontent-box:hover .first-show{
	display : none;
  }


  .showme{ 
	display: none;
  }
  .showhim:hover .showme{
	display : block;
	
  }
  .showhim:hover .ok{
	display : none;
  }
  
  .hed-all{
	z-index: 1;
	position:fixed; 
	width:100%; 
	--height:100px; 
  }

  
  .custom-cursor {
	cursor: url('/resources/cursors/cursor-bg.svg'), auto;
  }


  .custom-cursor1 {
	cursor: url('/resources/cursors/cir.svg'), auto;
  }





  .tiptext {
    background:#ccc;
    border: 1px #333 solid;
    padding:5px;
    width:100px;
}
.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    width:400px;
    height:400px;
}




  .over-im:hover{
	opacity: 0.7;
	--transform: scale(120%);
	transform: scale(1.1);
	transition: all .4s ease-in-out;
}


.showme {
	display: none;
}

.showhim:hover .showme {
	display: block;
}

.showhim:hover .ok {
	display: none;
}



  .text-pink{
	color: #E4A0F7;
  }
  


  .parent {
	display: flex;
 width: 100%;
 height: 100px;
 --justify-content: space-between; /* Align Items Horizontally */
 background: #eee;
}

.child {
 margin: 0 5px;
 padding: 0 5px;
 font-size: 30px;
 background: #ccc;
 color: #000;
}

.child :hover {
	
	background: #6e1f1f;
	
   }
   
  

   /** { 	outline: 1px solid #f00 !important;  }   */


  
  .content-200 {
    display: none;
    border: 1px solid #e92323;
    padding: 10px;
  }
  
  .active {
    display: block;
  }






.container-s{
    position: relative;
    --left:50%;
    --top:50%;
    --transform: translate(-50%,-50%);
    width:100%;
    height:600px;
    padding:50px;
    background-color: black;
    box-shadow: 0 30px 50px #dbdbdb;
}
#slide-s{
    width:max-content;
    margin-top:50px;
}
.item-s{
    width:200px;
    height:300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 2.0s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    --top:50%;
    --transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}

.item-s:nth-child(1),
.item-s:nth-child(2){
    left:0;
    top:0;
    --transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}



.panel {
	--scroll-snap-align: start;
	height: 100vh;
  }



.item-s:nth-child(3){
    left:25%;
}

.item:nth-child(4){
    left:calc(50% + 220px);
}




.item-s .content-s{
    --position: absolute;
    top:50%;
    left:100px;
    width:300px;
    text-align: left;
    padding:0;
    color:#eee;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
}


.item-s:nth-child(2) .content-s{
    display: block;
    z-index: 11111;
}
.item-s .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}


.item-s .des{
    margin:20px 0;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.3s 1 forwards
}


.item-s button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}

@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
    }
}



.buttons-s{
    --position: absolute;
    bottom:30px;
    z-index: 222222;
    text-align: center;
    width:100%;
}
.buttons-s button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}.buttons-s button:hover{
    background-color: #bac383;
}


