/* 1.1.general-setting-pages *************************/
/****************************************************/
:root {
	--pr-color: #fff;
	--second-color: #0a0a0a;
}



body {
	--background: var(--second-color);

}


.bg-lbs-black {
	background-color: #0a0a0a;
}



.slidercss {

	background-image: linear-gradient(#00FFFF, #E4A0F7);

}


.text-effect {
	background: white;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: xx-large;
}

.text-effect-active{
	background: -webkit-radial-gradient(#E4A0F7, #00FFFF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: cell;
	font-size: xx-large;
}


.footer-effect {

	padding-left: 80px;
    padding-right: 80px;
    font-size: xx-large;
	
}



.header-bg-custom1 {
	opacity: 0.8;
	background-image: url(/resources/background/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


.header-bg-custom2 {
	--opacity: 0.8;
	background-image: url(/resources/background/banner-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}



.bg-offce {

}

hr {
	background: linear-gradient(to right, blue, red);
	height: 6px;
}




.m-over:hover{
	--background-color: aqua;
	opacity: 0.7;
	--transform: scale(120%);
	transform: scale(1.1);
	transition: all .4s ease-in-out;
}





         
.btn-grad {
	background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%);
	margin: 10px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	
  }

  .btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
  }
 
  


  
  
  .custom-cursor {
	cursor: url('/resources/cursors/cursor-bg.svg'), auto;
  }



  .text-pink{
	color: #E4A0F7;
  }
  

